@import url('https://fonts.googleapis.com/css2?family=Gabarito&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

* {
    margin: 0;
    padding: 0;
    font-family: 'Gabarito', sans-serif;
}
.container-cabecalho {
    background-color: #32CD32 ;
    padding: 7px;
}
.texto-cabecalho {
    color: white;
    text-align: center;
    text-shadow: 0px 1px 2px rgb(78, 78, 78);
    letter-spacing: 0.3px;
}
.link-cabecalho {
    text-decoration: none;
    color: white;
}
.principal-cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:  #1e2535 ;
    color: white;
    letter-spacing: 5px;
    padding: 10px;
}
.imagem-cabecalho {
    max-width: 80px;
    max-height: 70px;
    padding-right: 10px;
}
.icone-cabecalho {
    font-size: 1.7em;
    padding-left: 10px;
}
.textoprincipal-cabecalho {
    padding-left: 60px;
    text-shadow: 0px 1px 2px rgb(78, 78, 78);
}
.principal {
    height: 83.1vh;
    background-color: bisque;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}
.principal-informacoes {
    text-align: center;
    
}
.informacoes-titulo {
    padding-top: 10px;
    padding-bottom: 15px;
    letter-spacing: 4px;
}
.informacoes-frase {
    padding-top: 5px;
    color: #1e2535;
}
.principal-formulario {
    background-color: #1e2535;
    width: 80%;
    max-width: 600px;
    height: 550px;

    border-radius: 25px;
    margin-top: 40px;

    text-align: left;
    color: white;

    display: flex;
    flex-direction: column;
}
.label{
    margin-left: 30px;
    margin-top: 12px;
    margin-bottom: 2px;
}
.input {
    max-width: 300px;
    margin-left: 20px;
    border-radius: 7px;
}
.endereco {
    max-width: 400px;
    height: 25px;

}
.regiao {
    max-width: 100px;
}
.estados{
    max-width: 50px;
}
.municipio {
    height: 20px;
}
.email {
    max-width: 150px;
}
#idenuncia{
    margin-left: 3%;
    margin-top: 5px;
    max-width: 500px;
    border-radius: 7px;
}
.botao {
    width: 150px;
    height: 25px;
    margin-top: 10px;
    margin-left: 50px;
    border-radius: 7px;
    cursor: pointer;
}
.rodape{
    height: 50px;
    background-color: #1e2535;
}